<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8AXZeF3DaCS0KO2_AgzCflBLAvF7QrMI</string>
	<key>GCM_SENDER_ID</key>
	<string>877281649166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.openweather.dev</string>
	<key>PROJECT_ID</key>
	<string>owa-dev-d44d3</string>
	<key>STORAGE_BUCKET</key>
	<string>owa-dev-d44d3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877281649166:ios:9416768ae681096008925f</string>
</dict>
</plist>